body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  form {
    background-color: #fff;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-top: 80px; 

  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: rgb(163, 95, 16);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: rgb(176, 105, 27);
  }
.forgot-password:hover {
    color: rgb(139, 79, 243);
  }
  .top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(163, 95, 16);
    color: white;
    padding: 9px 0;
   
    display: flex;


    gap: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  .top-bar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .radio-group{
    accent-color: rgb(40, 68, 229);
  }
  #error-message{
    color: red; 
    display: none
  }